<div id="game">
	<p id="game_title">Dual-N-Back</p>
	<p id="score">N: 1 Score: 0 Chances: 3</p>
	<div id="main_button">
		<%= image_tag "start.png", id: "start_image" %>
		<%= image_tag "getready.png", id: "getready_image" %>
		<%= image_tag "cow.png", id: "cow_image" %>
		<%= image_tag "dog.png", id: "dog_image" %>
		<%= image_tag "horse.png", id: "horse_image" %>
		<%= image_tag "pig.png", id: "pig_image" %>
		<%= image_tag "rooster.png", id: "rooster_image" %>
		<%= image_tag "gameover.png", id: "gameover_image" %>
	</div>
	<div id="audio_button">
	</div>
	<div id="visual_button">
	</div> 
</div>

