<div id="instructions">
		<%= image_tag "info.png", id: "info_image" %>
		<%= image_tag "instructions01.png", id: "instructions01_image" %>
		<%= image_tag "instructions02.png", id: "instructions02_image" %>
		<%= image_tag "instructions03.png", id: "instructions03_image" %>
		<%= image_tag "instructions04.png", id: "instructions04_image" %>
</div>